:root {
    --primary: #93B8DB;
    --secondary: #4A4A4A;
    --white: #ffffff;
  }

.bg-primary {
    background-color: var(--primary) !important;
  }
  .text-primary {
    color: var(--primary) !important;
  }
  .bg-secondary {
    background-color: var(--secondary) !important;
  }
  .text-secondary {
    color: var(--secondary) !important;
  }
  .bg-white {
    background-color: var(--white) !important;
  }
  .text-white {
    color: var(--white) !important;
  }